In [1]:
import pandas as pd

# Dataframe for employee name and department

In [4]:
df = pd.DataFrame({'Name':['Alice','Bob', 'John'],
                 'Department':['A', 'B','A']})

In [5]:
df

    Name Department
0  Alice          A
1    Bob          B
2   John          A

# Datframe for Department name and building

In [6]:
df1 = pd.DataFrame({'Department':['A', 'B'],
                   'Building':['1','2']})

In [7]:
df1

  Department Building
0          A        1
1          B        2

In [ ]:
df3 = pd.merge(df, df1, on = 'Department') # merge the two dataframes on column Department which common to df1 and df

In [ ]:
df3

In [ ]:
group2 = df3.groupby('Building') # to find the number of employees in each building gr

In [ ]:
group2.size()